<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Fonteva career page - hiring salesforce developers, sales engineer and technologists">
	<meta name="author" content="Adrian Russo - arusso@fonteva.com">
	<meta name="description" content="Fonteva's mission is to develop flexible, 
		easy to use and innovative software tools that transform your business.  We're ideally
		placed to deliver on our objectives.  Our solutions are built on Salesforce, the award winning
		technology that revolutionized software in the cloud." <!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="Fonteva Jobs">
	<meta property="og:description" content="Fonteva is the number one cloud solutions provider built on the salesforce platform.  
		We hire Salesforce Developers, Architects, QA Testers, Business Analysts, and others">
	<meta property="url" content="https://www.jobs.fonteva.com">
	<meta property="locale" content="en-us">

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@FontevaInc" />
	<meta name="twitter:title" content="As a Salesforce.com partner, 
		Fonteva delivers complete association management solutions, from implementation and data migration" />
	<meta name="twitter:description" content="Fonteva delivers end-to-end cloud-based Salesforce solutions" />
	<meta name="twitter:image" content="#" />

	<title>Fonteva - Career Page</title>
	<link rel="shortcut icon" href="images/favicon.png">

	<!-- Main Stylesheet -->
	<link href="css/style.css" rel="stylesheet">

	<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body id="home">

	<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container">

			<!-- Nav and home grouped together on navbar header for mobile rendering -->


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="page-scroll" href="index.html">Careers Home</a>
					</li>
					<li>
						<a class="page-scroll" href="WhyFonteva.html">Why Work at Fonteva?</a>
					</li>
					<li>
						<a class="page-scroll" href="hiringfaq.html">Interview FAQ</a>
					</li>
					<li>
						<a class="page-scroll" href="MeetUp.html">MeetUp Registration</a>
					</li>
					<li>
						<a class="page-scroll" href="http://www.fonteva.com">Fonteva Corporate</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>
	<div>
		<video class='auto-video' preload="auto" autoplay="autoplay" muted="no" loop>
			<source src="images\fontevavid.mp4" type="video/mp4">
			<source src="images\fontevavid.webm" type="video/webm">
			<source src="images\fontevavid.ogv" type="video/ogg"> Your browser does not support the video tag
		</video>
		<div class="slide-content">
			<!-- <h2>Fontevans at Work</h2> -->
			<!--ADD THE CORRECT MEETUP LINK -->
			<h3><a href="MeetUp.html"><button type="submit" class="btn btn-lg btn-default">Join Our MeetUp Group</button></a></h3>

		</div>
	</div>
	<!-- ============ NAVBAR START ============ -->



	<!-- SLIDES END  -->

	<!-- JOBS START -->
	<!-- PLACEHOLDER FOR FEED FROM NEW APPLICANT TRACKING SYSTEM -->

	<section id="jobs">
		<div class="container1">
				<iframe	src="https://jobs.lever.co/fonteva">
				Your browser does not appear to support iframes. See <a href="https://jobs.lever.co/fonteva">all job postings</a>.
			  </iframe>
			  <script src="js\jobsfeed.js" type="text/javascript"></script>
				</div>
		</div>
	</section>
	<!--STATIC VIDEO -->
	<!-- JOBS END  -->

	<!--  WHAT DOES FONTEVA DO? -->
	<section id="how">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Cutting-Edge Technology</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<p>“Our competitors have been around for a long time; some of them before the internet was even created. From our perspective,
						we are looking at a unique opportunity to deliver software to non-profit organizations that is actually useable.” </br>
						</br>

						“We developed a platform that allows anybody to build cloud applications on the Salesforce platform. What Salesforce gives
						us is a world-class, best in breed CRM that we can deliver to our customers.” </br>
						</br>

						<strong>- Mac Anderson </br>
							Chief Technology Officer</strong></p>
				</div>
				<div class="col-sm-6">
					<div class="video-wrapper">
						<iframe src="https://player.vimeo.com/video/110249884" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- HOW DOES IT WORK END -->

	<!-- WHY CHOOSE FONTEVA START -->
	<section id="app" class="color2">
		<div class="container">
			<div class="row">
				<div class="col-sm-5">
					<div id="fonteva2"></div>
				</div>
				<div class="col-sm-offset-1 col-sm-6">
					<p>&nbsp;</p>
					<h2>Why Choose Fonteva?</h2>
					<p>Fonteva was born in 2010 and has rapidly become the fastest growing and most exciting cloud computing software company
						focused on associations and charities. <strong>We are ranked #286 on the Inc Magazine's 
						"500 list" of fastest growing companies.</strong> The name Fonteva alludes to the "font of evolutionary knowledge"
						held in our products' centralized database and which our customers rely on every day for success. We understand that
						not everyone can be an expert in writing code like us. Our products are easy to configure without any programming knowledge.
						Best of all, our solutions are built on Salesforce, the award-winning technology that revolutionized software in the
						cloud. Fonteva's very talented team is based in Arlington, Virginia. Our European office is in London.</p>
					<p>&nbsp;</p>
				</div>
			</div>
		</div>
	</section>
	<!-- WHY CHOOSE FONTEVA END -->

	<!-- PRODUCTS START -->
	<section id="blog">
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-12">
					<h1>Fonteva Products</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="owl-carousel">

						<!-- membernation -->
						<div>
							<img src="images\membernation.jpg" class="img-responsive" alt="Blog Post" />
							<h4>
								<storng>MemberNation</strong>
							</h4>
							<p>With <strong>MemberNation </strong>you get two products in one: <strong>Salesforce Customer 
								Relationship Management software—celebrated by Forbes Magazine 
								as the most innovative in the world </strong> and flexible, intuitive Membership Management Software backed by first-class
								customer assistance.</p>
							<p><a href="http://fonteva.com/SolutionsforAssociations" class="btn btn-primary">Read more</a></p>
						</div>

						<!-- alumnination -->
						<div>
							<img src="images\alumnination.jpg" class="img-responsive" alt="Blog Post" />
							<h4><strong>AlumniNation</strong></h4>
							<p>With <strong>AlumniNation</strong> you get two products in one: <strong>Salesforce Customer Relationship 
								Management software—celebrated by Forbes Magazine 
								as the most innovative in the world</strong> and flexible, intuitive Alumni Management Software backed by first-class
								customer assistance.</p>
							<p><a href="http://fonteva.com/AlumniNation" class="btn btn-primary">Read more</a></p>
						</div>

						<!-- citizennation -->
						<div>
							<img src="images\citizennation.jpg" class="img-responsive" alt="Blog Post" />
							<h4><strong>CitizenNation</strong></h4>
							<p>Built on the Salesforce Service Cloud platform, <strong>CitizenNation</strong> delivers the foundation for all of
								your citizen interaction from service requests through online self-service and payment processing.
								<strong>CitizenNation streamlines and expedites the processing of citizen service requests and boosts citizen 
								engagement in online self-service and payments.</strong></p>
							<p><a href="http://fonteva.com/CitizenNation" class="btn btn-primary">Read more</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- PRODUCTS END -->

	<!-- CONTACT START -->
	<section id="contact" class="color2">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h2>Drop us a line</h2>
					<form role="form" name="contact-form" id="contact-form" action="process.php">
						<div class="form-group" id="contact-name-group">
							<label for="contact-name" class="sr-only">Name</label>
							<input type="text" class="form-control" id="contact-name" placeholder="Name">
						</div>
						<div class="form-group" id="contact-email-group">
							<label for="contact-email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="contact-email" placeholder="Email">
						</div>
						<div class="form-group" id="contact-subject-group">
							<label for="contact-subject" class="sr-only">Subject</label>
							<input type="text" class="form-control" id="contact-subject" placeholder="Subject">
						</div>
						<div class="form-group" id="contact-message-group">
							<label for="contact-message" class="sr-only">Message</label>
							<textarea class="form-control" rows="3" id="contact-message"></textarea>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="col-sm-6">
					<h2>Our Offices</h2>
					<div class="row">
						<div class="col-sm-6">
							<h5>Headquarters</h5>
							<p>4420 North Fairfax Drive</br>
								Suite 500<br> Arlington, VA 22203<br> USA
							</p>
							<p><i class="fa fa-phone"></i>(844) NO CODING (662-6346)<br>
								<!-- DO NOT FORGET TO ADD THE CORRECT EMAIL -->
								<i class="fa fa-envelope"></i><a href="mailto:#@fonteva.com">Talent Acquisition</a></p>
						</div>
						<div class="col-sm-6">
							<h5>London</h5>
							<p>Suite 202</br>
								Oriel House</br>
								26 The Quadrant<br> Richmond, UK</br>
							</p>
							<p><i class="fa fa-phone"></i>+44 20 7118 1515<br>
								<!-- DO NOT FORGET TO ADD THE CORRECT EMAIL -->
								<i class="fa fa-envelope"></i><a href="mailto:#@fonteva.com">Talent Acquisition</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- CONTACT END -->

	<!-- FOOTER START -->
	<footer>
		<div id="prefooter">
			<div id="icons">
				<h2>Follow Fonteva on Social Media</h2>
				<a href="https://www.facebook.com/Fonteva/"><i class="fa fa-2x fa-facebook-square"></i></a>
				<a href="https://twitter.com/fontevainc?lang=en"><i class="fa fa-2x fa-twitter-square"></i></a>
				<a href="https://www.youtube.com/user/FontevaInc"><i class="fa fa-2x fa-youtube-square"></i></a>
				<a href="https://vimeo.com/fonteva"><i class="fa fa-2x fa-vimeo-square"></i></a>
				<a href="https://www.linkedin.com/company/fonteva-inc-"><i class="fa fa-2x fa-linkedin-square"></i></a>
			</div>

		</div>
		<div id="credits">
			<div class="container text-center">
				<div class="row">
					<div class="col-sm-12">
						Fonteva Careers Network <br> Designed &amp; Developed by <a href="http://www.fonteva.com" target="_blank">Fonteva, Inc.</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- FOOTER END -->

	<!-- Modernizr Plugin -->
	<script src="js/modernizr.custom.79639.js"></script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery-1.11.2.min.js"></script>

	<!-- Bootstrap Plugins -->
	<script src="js/bootstrap.min.js"></script>

	<!-- Retina Plugin -->
	<script src="js/retina.min.js"></script>

	<!-- ScrollReveal Plugin -->
	<script src="js/scrollReveal.min.js"></script>

	<!-- Flex Menu Plugin -->
	<script src="js/jquery.flexmenu.js"></script>

	<!-- Slider Plugin -->
	<script src="js/jquery.ba-cond.min.js"></script>
	<script src="js/jquery.slitslider.js"></script>

	<!-- Carousel Plugin -->
	<script src="js/owl.carousel.min.js"></script>

	<!-- Parallax Plugin -->
	<script src="js/parallax.js"></script>

	<!-- Counterup Plugin -->
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/waypoints.min.js"></script>

	<!-- No UI Slider Plugin -->
	<script src="js/jquery.nouislider.all.min.js"></script>

	<!-- Bootstrap Wysiwyg Plugin -->
	<script src="js/bootstrap3-wysihtml5.all.min.js"></script>

	<!-- Flickr Plugin -->
	<script src="js/jflickrfeed.min.js"></script>

	<!-- Fancybox Plugin -->
	<script src="js/fancybox.pack.js"></script>

	<!-- Magic Form Processing -->
	<script src="js/magic.js"></script>

	<!-- jQuery Settings -->
	<script src="js/settings.js"></script>

</body>

</html>