/* keyframes animation falling binary */
* {
  margin: auto;
  padding: auto;
}
body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 40px auto;
  background: rgba(22,22,22, 0.5);
  width: 100%;
  max-width: 960px;
  border-radius: 5px;
  padding-bottom: 32px;
}

h1, h1 a {
  min-height: 120px auto;
  width: 90% auto;
  max-width: 700px auto;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  padding-top: 80px auto;
}

p {
  width: 90% auto;
  max-width: 700px auto;
  text-align: left auto;
  margin: 0 auto;
  padding-bottom: 32px auto;
}